<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>

    <meta content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, target-densityDpi=device-dpi"
        name="viewport">
    <meta charset="utf-8" />

    <!-- for Google -->
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ keywords }}">
    <meta name="author" content="elect.in.th">

    <!-- for Facebook -->
    <meta property="fb:app_id" content="{{ fb_app_id }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="article">
    <meta property="og:image" content="{{ hostname }}/statics/party-share/{{ party }}.png">
    <meta property="og:url" content="{{ hostname }}/{{ party }}.html">
    <meta property="og:description" content="{{ description }}">

    <!-- for Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image" content="{{ hostname }}/statics/party-share/{{ party }}.png">

</head>
<body>
    <script>
      function loadQueryString() {
        const search = location.search.substring(1);
        if (!search) return {};
        return JSON.parse('{"' + decodeURIComponent(search).replace(/"/g, '\\"').replace(/&/g, '","').replace(/=/g,'":"') + '"}');
      }

      function createQueryString(obj) {
        const pairs = Object.keys(obj).map(k => `${encodeURIComponent(k)}=${encodeURIComponent(obj[k])}`);
        pairs.sort((a, b) => a.indexOf('party=') === 0 ? -1 : 0);
        return pairs.join('&');
      }

      setTimeout(function() {
        const qs = loadQueryString();
        const matches = /^\/([^.]+).html/gi.exec(location.pathname);
        if (matches[1]) qs.party = decodeURIComponent(matches[1]);
        location.href = '{{ hostname }}' + '?' + createQueryString(qs);
      }, 500);
    </script>
</body>
</html>
